---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: libreoffice-deployment
  namespace: n8n-project
  labels: &labels
    app: libreoffice
    component: deployment
spec:
  replicas: 1
  selector:
    matchLabels: *labels
  template:
    metadata:
      labels: *labels
    spec:
      securityContext:
        fsGroup: 1000
      volumes:
      - name: n8n-data
        persistentVolumeClaim:
          claimName: n8n-pvc
      containers:
      - name: libreoffice
        image: docker.io/claudito16/python-libreoffice-api:latest
        imagePullPolicy: IfNotPresent
        ports:
        - name: http
          containerPort: 8000
        volumeMounts:
        - name: n8n-data
          mountPath: /data
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          limits:
            cpu: "1.0"
            memory: "1024Mi"
          requests:
            cpu: "0.2"
            memory: "256Mi"
