---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n-deployment
  namespace: n8n-project
  labels: &labels
    app: n8n
    component: deployment
spec:
  replicas: 1
  selector:
    matchLabels: *labels
  template:
    metadata:
      labels: *labels
    spec:
      volumes:
      - name: n8n-data
        persistentVolumeClaim:
          claimName: n8n-pvc
      containers:
      - name: n8n
        image: docker.io/claudito16/n8n-python-pptx:v2.2
        imagePullPolicy: IfNotPresent
        ports:
        - name: http
          containerPort: 5678        
        envFrom:
        - configMapRef:
            name: n8n-configmap
        - secretRef:
            name: n8n-secrets       
        env:
          - name: WEBHOOK_URL
            value: "http://localhost:30227/"
        volumeMounts:
        - name: n8n-data
          mountPath: /data
        livenessProbe:
          httpGet:
            path: /healthz
            port: 5678
        readinessProbe:
          httpGet:
            path: /healthz
            port: 5678
        resources:
          limits:
            cpu: "1.0"
            memory: "1024Mi"
          requests:
            cpu: "0.5"
            memory: "512Mi"
